form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: rgb(27, 27, 27);
    padding: 2rem 1.5rem;
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.4rem;
}