@import "@angular/material/prebuilt-themes/magenta-violet.css";

html,
body {
    height: 100%;
    background: rgb(244, 244, 244);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}